/* 作品內容物 */
.works_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/作品1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.works_container h1 {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    top: 50px;
}
.swiper{
    position: relative;
    width: 50%;
    height: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    background-color: rgba(232, 227, 227, 0.2);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color:  #06CD49;
}

.swiper-button-next {
    position: relative;
    float: right;
    top:-50%;
    color: white;
    outline: none;
}

.swiper-button-prev {
    position: relative;
    float: left;
    top: -50%;
    color: white;
    outline: none;
}

/* 手機板 iphone X */
@media screen and (max-width: 375px){
    .works_container h1 {
        position: relative;
        color: #FFFFFF;
        text-align: center;
        top: 100px;
    }
    
    .swiper-container {
        position: relative;
        align-items: center;
        top: 130px;
        width: 50%;
        height: 50vh;
    }
    
    .swiper-slide {
        margin-top: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .swiper-container-horizontal>.swiper-pagination-progressbar {
        background-color: rgba(232, 227, 227, 0.2);
    }
    
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background-color:  #06CD49;
    }
    
    .swiper-button-next {
        position: relative;
        float: right;
        width: 10px;
        top: -74px;
        right: 20px;
        color: white;
        outline: none;
    }
    
    .swiper-button-prev {
        position: relative;
        float: left;
        width: 10px;
        top: -70px;
        left: 20px;
        color: white;
        outline: none;
    }
}
