/* 經驗內容物 */
.experience_container {
    width: 100%;
    height: 100vh;
    background-image: url(./img/經驗1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.experience_container .opacity{
    position: relative;
    width: 1500px;
    height: 800px;
    background-color: rgb(78, 78, 78);
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
}

.experience_container h1 {
    text-align: center;
    position: relative;
    top: 50px;
    color: #FFFFFF;
    z-index: 99;
}

.experience_container .time_pic {
    width: 60px;
    height: 600px;
    position: relative;
    float: left;
    background-image: url(./img/時間條.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 925px;
    top: 120px;
    z-index: 99;
}

.experience_container .highschool {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    left: 1060px;
    top: 120px;
    z-index: 99;
}

.experience_container .college {
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
    left: 40px;
    top: 310px;
    text-align: right;
    z-index: 99;
}

.experience_container .college .text {
    text-align: left;
}

.experience_container .training {
    position: relative;
    float: left;
    width: 550px;
    height: 200px;
    left: 370px;
    top: 500px;
    z-index: 99;
}

.experience_container .text {
    color: rgb(236, 236, 236);
    font-size: 21px;
}

.experience_container .school {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.experience_container .time {
    color: #06CD49;
    font-size: 25px;
    margin-bottom: 10px;
}
/* 平板 ipad */
@media screen and (max-width: 768px){
    .experience_container .opacity{
        width: 70%;
        height: 80vh;
        background-color: rgb(78, 78, 78);
        top: 0px;
        opacity: 50%;
    }
    .experience_container .time_pic {
        width: 30px;
        height: 800px;
        left: 50%;
        transform: translateX(-50%);
        top: 120px;
    }
    
    .experience_container .highschool {
        position: relative;
        float: left;
        width: 200px;
        height: 100px;
        left: 50%;
        top: 120px;
        z-index: 99;
    }
    
    .experience_container .college {
        position: relative;
        float: left;
        width: 150px;
        height: 100px;
        left:-5%;
        top: 260px;
        text-align: right;
        z-index: 99;
    }
    
    .experience_container .college .text {
        text-align: left;
    }
    
    .experience_container .training {
        position: relative;
        float: left;
        width: 200px;
        height: 100px;
        left: 6%;
        top: 400px;
        z-index: 99;
    }
    
    .experience_container .text {
        color: rgb(236, 236, 236);
        font-size: 15px;
    }
    
    .experience_container .school {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .experience_container .time {
        color: #06CD49;
        font-size: 22px;
        margin-bottom: 10px;
    }
}

/* 手機板 iphone X */
@media screen and (max-width: 375px){
    .experience_container .opacity{
        position: relative;
        width: 1500px;
        height: 800px;
        background-color: rgb(78, 78, 78);
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 50%;
        display: none;
    }
    
    .experience_container h1 {
        text-align: center;
        position: relative;
        top: 50px;
        color: #FFFFFF;
        z-index: 99;
    }
    
    .experience_container .time_pic {
        width: 30px;
        height: 600px;
        position: relative;
        float: left;
        background-image: url(./img/時間條.png);
        background-size: contain;
        background-repeat: no-repeat;
        left: 170px;
        top: 120px;
        z-index: 99;
    }
    
    .experience_container .highschool {
        position: relative;
        float: left;
        width: 150px;
        height: 100px;
        left: 180px;
        top: 120px;
        z-index: 99;
    }
    
    .experience_container .college {
        position: relative;
        float: left;
        width: 140px;
        height: 200px;
        left: -165px;
        top: 260px;
        text-align: right;
        z-index: 99;
    }
    
    .experience_container .college .text {
        text-align: left;
    }
    
    .experience_container .training {
        position: relative;
        float: left;
        width: 150px;
        height: 100px;
        left: 180px;
        top: 190px;
        z-index: 99;
    }
    
    .experience_container .text {
        color: rgb(236, 236, 236);
        font-size: 15px;
    }
    
    .experience_container .school {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .experience_container .time {
        color: #06CD49;
        font-size: 22px;
        margin-bottom: 10px;
    }

}